[Unit]
Description=BJTU Login Executor
PartOf=bjtu-needs-auth.target

[Service]
Type=oneshot
Environment="ACCOUNT=your account"
Environment="PASSWORD='your password'"
Environment="ENABLE_NOTIFY=1"
ExecStart=%h/.local/bin/bjtu-auth.sh login

[Install]
WantedBy=bjtu-needs-auth.target